.postpanebox1{
    background-color: #f1f2f6;
    height: 100vh;
    flex: 5;
    
}

.postpanebox{
    background-color: white;
    max-width: 600px;
    margin: 1% auto;
}


@media only screen and (max-width:900px){
    .postpanebox1{
        align-items: center;
        
    }
    
    
}