.navBarBox{
    height: 60px;
    width: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    
    
    
}

.logoIcon img{
    width: 40px;
    height: auto;
    object-fit: cover;
    border-radius: 50%; 
}



.navBarLeft{
    flex: 3;
    display: flex;
    align-items: center;
    gap: 2%;
    margin-left: 1.5%;
    
}




.logo{
    font-size: 35px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-family: 'Klavika';
}


.searchBarBox{
    width: 62%;
    height: 40px;
    background-color: rgb(238, 238, 238);
    display: flex;
    border-radius: 30px;
    align-items: center;
    
}


.searchBarBox .searchIcon{
    margin-left: 10px;
}

.searchInput{
    border: none;
    width: 80%;
    background-color: rgb(238, 238, 238);
    font-size: 15px;
    
}

.searchInput:focus{
    outline: none;
    
}

.navBarCenter{
    flex: 5;
    
}


.navBarCenter .navBarIcon{
   display: flex;
   align-items: center;
   color: rgb(96, 96, 96);
   gap: 4%;
   justify-content: center;
   
   
}

.navBarCenter .navBarIcon .EachIcon{
    cursor: pointer;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 2% 4% 2% 4%;
    border-radius: 10%;
}

.navBarCenter .navBarIcon .EachIcon:hover{
    background-color: rgb(238, 238, 238);
    
    
}

.navBarRight{
    flex: 4;
    display: flex;
    align-items: center;
    margin-right: 1.5%;
    gap: 4%;
    position: relative;
    
    justify-content: end;
}

/* .navBarRight .navBarIcons{
    color: rgb(96, 96, 96);
    display: flex;
    gap: 10%;
}
 */
.navBarRight .navBarIcon{
    display: flex;
    margin: 0% 4% 0% 0%;
    color: rgb(0, 0, 0);
    

    
}

/* .navBarIcon span{
    position: relative;
} */

.navBarRight .navBarIcon .EachIcon{
    right: 0;
    padding: 3% 4% 2% 4%;
    margin-left: 11px;
    border-radius: 50%;
    background-color: rgb(238, 238, 238);
    align-items: center;
    justify-content: center;
}

.navBarRight .navBarIcon .EachIcon:hover{
    background-color: rgb(238, 238, 238);
    
    
}

.pic{
    margin: 1% 0% 1% 0%; 
    align-items: center;
}

.profilePicImg{
    width: 39px;
    height: 39px;
    object-fit: cover;
    border-radius: 50%;
}

.navBarLinks{
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
}

.navbarlink{
    gap: 20px;
    margin-top: 20px;
}

.iconTag{
    width: 15px;
    height: 15px;
    background-color: red;
    color: white;
    position: absolute;
    border-radius: 50%;
    top: -5px;
    justify-content: center;

}