.navBarBox{
    height: 60px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 6px grey;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
  
}

.logoIcon img{
    width: 40px;
    height: auto;
    object-fit: cover;
    border-radius: 50%; 
    
}



.navBarLeft{
    flex: 4;
    display: flex;
    align-items: center;
    gap: 4%;
    margin-left: 2%;
    
    padding: 7px;
    
}




.logo{
    font-size: 35px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-family: 'Klavika';
    
}


.searchBarBox{
    width: 62%;
    height: 40px;
    background-color: rgb(238, 238, 238);
    display: flex;
    border-radius: 30px;
    align-items: center;
    
}


.searchBarBox .searchIcon{
    margin-left: 10px;
    color: gray;
}

.searchInput{
    border: none;
    width: 80%;
    background-color: rgb(238, 238, 238);
    font-size: 15px;
    
}

.searchInput:focus{
    outline: none;
    
}

.navBarCenter{
    flex: 7;
    
    
}


.navBarCenter .navBarIcon{
   display: flex;
   align-items: center;
   color: rgb(96, 96, 96);
   gap: 4%;
   justify-content: center;
   position: relative;
   
   
}

.navBarCenter .navBarIcon .EachIcon{
    cursor: pointer;
    align-items: center;
    padding: 2% 4% 2% 4%;
    border-radius: 10%;
    position: relative;
}

.navBarCenter .navBarIcon .EachIcon:hover{
    background-color: rgb(238, 238, 238);
     
}

.navBarCenter .navBarIcon .EachIcon::after{
    content: attr(data-tooltip);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
}

.navBarCenter .navBarIcon .EachIcon:hover::after{
    opacity: 1;
    visibility: visible;
}



.navBarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 2%;
    padding: 8px;
    
}

.navBarRight .navBarIcon{
    display: flex;
    color: rgb(0, 0, 0);
    align-items: center;
    gap: 4%;
    
    position: relative;
 
}


.navBarRight .navBarIcon .EachIcon{
    display: flex;
    border-radius: 50%;
    background-color: rgb(231, 231, 231);
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.navBarRight .navBarIcon .EachIcon:hover{
    background-color: rgb(238, 238, 238);
}

.navBarRight .navBarIcon .EachIcon::after {
    content: attr(data-tooltip); /* Use data attribute to get tooltip text */
    position: absolute;
    bottom: -39px; /* Position it below the icon */
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 10; /* Ensure tooltip appears above other elements */
}

.navBarRight .navBarIcon .EachIcon:hover::after {
    opacity: 1;
    visibility: visible;
}

.navBarRight .navBarIcon .pic{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navBarRight .navBarIcon .pic .profilePicImg{
    width: 39px;
    height: 39px;
    object-fit: cover;
    border-radius: 50%;
}


@media only screen and (max-width:700px){
    .navBarCenter{
        display: none;
        
    }
}


@media only screen and (max-width:850px){
    .searchBarBox{
        width: 42px;
        align-items: center;
        margin-bottom: 1px;
    }

    .searchInput{
        display: none; 
    }

    .profilePicImg{
        width: 40px;
        height: 40px;
        
        border-radius: 50%;
    }

    .navBarRight{
        flex: 4;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
    }

    .navBarRight .navBarIcon{
        display: flex;
        
        color: rgb(0, 0, 0);
      
    }
     
}


@media only screen and (max-width:1050px){
    .searchBarBox{
        width: 42px;
        align-items: center;
        margin-bottom: 1px;
    }

    .searchInput{
        display: none; 
    }
}
