.leftpanebox{
    background-color: #f1f2f6;
    flex: 2;
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

.leftLogo{
    height: 35px;
    width: auto;
    position: cover;
    border-radius: 50%;
    margin-right: 16px;
}

.leftpanecontainer{
    padding: 10px;
}

.leftpanemenu{
    padding: 0;
    margin: 0;
    list-style: none;
}

.leftPaneMenuItem{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    padding: 3% 2% 3% 2%;
}

.leftPaneMenuItemLast{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    padding: 3% 2% 3% 2%;
}


.leftPaneMenuItemLast .leftpaemenuIcon{
    background-color: rgb(181, 181, 181);
    border-radius: 50%;

}

.leftPaneMenuItem:hover{
    
    background-color: rgb(204, 204, 204);
    padding: 3% 2% 3% 2%;
    border-radius: 5px;
}

.leftpanemenu :nth-last-child(){
    background-color: blue;
}

.leftpaemenuIcon{
    margin-right: 20px;
    color: rgb(56, 56, 56);
    
}

.pagepic{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

@media only screen and (max-width:1050px){
    .leftpanebox{
        display: none;
    }
    
}

